@use "variables";
@use "sass:color";

* {
  box-sizing: border-box;
}

body {
  font-family: variables.$font;
  color: variables.$dark;
  padding: 0;
  margin: 0;
  background-color: variables.$light;
}

header, .header {
  transition: variables.$lazy-transition;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6vw;
  position: relative;

  h1 {
    font-size: 3.5vw;
  }

  h2 {
    font-size: 2vw;
  }

  .highlight {
    color: variables.$accent;
  }

  @media (max-width: 100px / 0.06) {
    padding-top: 100px;
  }

  @media (max-width: variables.$large-desktop) {
    h1 {
      font-size: (variables.$large-desktop * 0.035);
    }

    h2 {
      font-size: (variables.$large-desktop * 0.02);
    }

    .background-text {
      font-size: (variables.$large-desktop * 0.25)
    }
  }

  @media (max-width: variables.$mobile-width) {
    padding: 100px 35px 35px 35px;

    h1 {
      font-size: calc((100vw - 70px) * 0.15);
      line-height: 1.1;
    }
  }
}

p {
  line-height: 1.15;
}

a {
  transition: variables.$transition;
  color: variables.$accent;
  &:hover {
    opacity: 0.8;
  }
}

.show-on-scroll {
  transition: variables.$slow-transition;

  &.not-scrolled {
    opacity: 0;
  }
}

.dark {
  background-color: variables.$dark;
  color: variables.$light;
}

.light {
  background-color: variables.$light;
  color: variables.$dark;
}

.fading-background-wrapper {
  height: 100vh;
  width: 100vw;

  &.pinned {
    position: fixed;
    top: 0;
    left: 0;
  }
}

.image-fade {
  .image {
    transition: all 0.75s ease;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
  }

  .panel-wrapper {
    height: 100vh;
    width: 100vw;
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: variables.$mobile-width) {
  body.open {
    overflow: hidden;
  }
}