@use "variables";
@use "sass:color";

.home {
  padding: 0;
  height: 200%;

  & > * {
    position: relative;
    z-index: 5;
  }

  .header {
    padding-right: 30%;
    overflow-x: hidden;

    h1 {
      margin: 40px 0;
    }

    h2 {
      margin: 0;
    }

    h1, h2 {
      position: relative;
      z-index: 10;
    }

    .background-text {
      transition: variables.$lazy-transition;
      position: fixed;
      bottom: 0;
      left: 0;
      margin: 0;
      line-height: 0.75;
      font-size: 25vw;
      font-weight: 900;
      text-shadow: 7px 7px 10px #0002;
      color: variables.$light;
      user-select: none;
    }

    &.not-scrolled {
      background-color: variables.$dark;
      color: variables.$light;

      .background-text {
        color: variables.$dark;
      }
    }

    @media (max-width: variables.$fixed-size) {
      padding: (variables.$fixed-size * 0.06) 30% (variables.$fixed-size * 0.06) (variables.$fixed-size * 0.06);

      h1 {
        font-size: (variables.$fixed-size * 0.035);
      }

      h2 {
        font-size: (variables.$fixed-size * 0.02);
      }

      .background-text {
        font-size: (variables.$fixed-size * 0.25)
      }
    }
  }

  .image-fade {
    .panel {
      background-color: color.adjust(variables.$light, $alpha: -0.2);
      padding: 50px;
      border-radius: 30px;
      box-shadow: 0 0 7px #0007;
    }

    .definition {
      max-width: 500px;

      h1, h2, h3 {
        margin: 0 0 10px 0;
      }

      h1 {
        font-weight: 800;
        font-size: 4em;
      }

      h2 {
        font-weight: 600;
        font-size: 2em;
      }

      h3 {
        font-weight: 400;
        font-size: 1.5em;
      }

      p {
        margin: 0;
        font-weight: 300;
      }
    }

    .quote {
      align-self: center;
      justify-self: center;
      max-width: 750px;
      padding: 70px 60px 60px 80px;
      position: relative;

      p {
        font-size: 2.75em;
        margin: 0 0 30px 0;
        font-weight: 300;
      }

      h6 {
        font-size: 1.5em;
        margin: 0;
      }

      .start-quote {
        position: absolute;
        top: 45px;
        left: 20px;
        font-weight: 900;
        font-size: 100px;
        margin-right: 10px;
      }
    }
  }
}