@use "variables";
@use "sass:math";

$close-button-height: 35px;
$close-button-width: 50px;
$close-button-line-height: 3px;
$mobile-nav-height: 100px;

nav {
  position: fixed;
  z-index: 1000;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: variables.$light;
  box-shadow: 0 0 7px #0004;
  transition: variables.$transition;

  & > * {
    display: flex;
  }

  .logo {
    align-items: center;
    justify-content: flex-start;
    padding: 20px 20px 20px 0;

    h6 {
      font-size: 1.5em;
      font-weight: 400;
      margin: 0;
    }

    svg {
      width: 80px;
      position: absolute;
    }
  }

  ul {
    list-style: none;
    padding: 20px;
    margin: 0;

    li {
      padding: 20px;
      position: relative;

      a {
        text-decoration: none;
        color: inherit;

        &.active {
          color: variables.$accent;
        }
      }
    }
  }

  .close-button {
    width: $close-button-width;
    height: $close-button-height;
    position: absolute;
    right: 20px;
    top: calc((100% - #{$close-button-height}) / 2);
    background-color: transparent;
    border: none;
    z-index: 100;

    .line {
      transition: variables.$transition;
      height: $close-button-line-height;
      background-color: variables.$dark;
      position: absolute;
      width: 100%;
      left: 0;
      border-radius: math.div($close-button-line-height, 2);

      &.top {
        top: 0;
        transform-origin: center;
      }

      &.center {
        top: calc(50% - #{$close-button-line-height} / 2);
      }

      &.bottom {
        bottom: 0;
      }
    }

    &.open {
      .top {
        transform: translateY(math.div($close-button-height - $close-button-line-height, 2)) rotate(45deg);
      }

      .center {
        transform: scaleY(0);
      }

      .bottom {
        transform: translateY(math.div(-($close-button-height - $close-button-line-height), 2)) rotate(-45deg);
      }
    }
  }

  &.top {
    box-shadow: 0 0 7px #0000;
  }

  // Including the +1px to avoid overlap at $mobile-width
  @media (min-width: variables.$mobile-width + 1px) {
    .close-button {
      display: none;
    }
  }

  @media (max-width: variables.$mobile-width) {
    height: $mobile-nav-height;

    ul {
      transition: variables.$transition;
      transform-origin: top;
      position: absolute;
      top: 100%;
      width: 100vw;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: variables.$light;
      padding-bottom: $mobile-nav-height;
      height: calc(100vh - #{$mobile-nav-height});
      transform: scaleY(0);
      font-size: 1.2em;

      li {
        transform: translateX(-100px);
        opacity: 0;
      }

      &.open {
        transform: scaleY(1);

        li {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
  }
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: variables.$dark;
  color: variables.$light;
  padding: 120px;
  position: relative;
  z-index: 10;
  font-size: 32px;

  a {
    transition: variables.$transition;
    color: inherit;
    margin: 20px;

    &:hover {
      opacity: 0.8;
    }
  }
}