@use "variables";

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;

  .bio, .community {
    max-width: 900px;
    display: flex;
    align-items: center;
    text-align: left;
    margin: 0 100px;

    img {
      border-radius: 1000px;
      min-width: 400px;
      width: 20vw;
    }

    h2 {
      margin-top: 40px;
      width: 100%;
      &.role {
        margin-top: 0px;
        font-weight: 400;
      }
    }

    .bio-blurb {
      max-width: 900px;
    }

    &.not-scrolled {
      & > *:not(.bio-blurb) {
        opacity: 0;
        transform: translateX(150px);
      }

      .bio-blurb p {
        opacity: 0;
        transform: translateX(150px);
      }
    }

    @media (max-width: variables.$mobile-width) {
      margin: 0 30px;
      img {
        width: 100%;
        min-width: unset;
      }
    }
  }

  .bio {
    padding: 50px 0;
    flex-direction: row;
    gap: 50px;
    justify-content: center;

    @media (max-width: variables.$desktop-width) {
      flex-direction: column;
    }
  }

  .community {
    flex-direction: column;
    padding-bottom: 50px;
  }
}
