.team {
  display: flex;
  flex-direction: column;
  align-items: center;

  .bio, .community {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 100px;

    img {
      border-radius: 1000px;
      min-width: 400px;
      width: 20vw;
    }

    h2 {
      margin-top: 40px;
    }

    .bio-blurb {
      max-width: 700px;
    }

    &.not-scrolled {
      & > *:not(.bio-blurb) {
        opacity: 0;
        transform: translateX(150px);
      }

      .bio-blurb p {
        opacity: 0;
        transform: translateX(150px);
      }
    }
  }

  .bio {
    min-height: 100vh;
    padding: 100px 0;
  }

  .community {
    min-height: 50vh;
  }
}