@use "variables";

.values {
  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 120px;

    h2 {
      font-weight: 900;
      font-size: 3.5vw;
    }

    h3 {
      font-size: 2vw;
    }

    .content {
      max-width: 1600px;
      width: 100%;
    }

    @media (max-width: variables.$large-desktop) {
      h2 {
        font-size: (variables.$large-desktop * 0.035);
      }

      h3 {
        font-size: (variables.$large-desktop * 0.02);
      }

      .background-text {
        font-size: (variables.$large-desktop * 0.25)
      }
    }

    @media (max-width: variables.$mobile-width) {
      padding: 35px;

      h2 {
        text-align: center;
        margin-bottom: 0;
      }
    }
  }

  .core .content > p, .working-with-leadout p {
    margin: 80px 0;
    font-size: 2rem;
    font-weight: 400;
  }

  .core {
    min-height: 100vh;
    padding-top: 100px;

    &.not-scrolled .content > p {
      opacity: 0;
      transform: translateY(150px);
    }
  }

  .working-with-leadout {
    background-color: variables.$accent;
    color: variables.$light;

    h3 {
      margin: 60px 0 10px;
    }

    p {
      font-size: 2rem;
    }
  }

  .faq-title {
    @media (max-width: variables.$mobile-width) {
      padding-bottom: 20px;
    }
  }

  .faq {
    background-color: variables.$accent;
    margin-bottom: 2px;
    color: variables.$light;
    a {
      color: variables.$light;
    }
    h2 {
      font-size: (variables.$large-desktop * 0.015);
      color: variables.$light;
    }
    button {
      width: 100%;
      background: none;
      border: none;
      text-align: left;
      padding-left: 20px;
      padding-right: 20px;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      align-items: center;

      .triangle {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 0 5px 8px;
        border-color: transparent transparent transparent variables.$light;
        margin-right: 10px;
        margin-bottom: 2px;
        &.open {
          transform: rotate(90deg);
        }
        transition: all 250ms;
      }
    }
    .answer-container {
      padding: 10px 25px;
      padding-top: 0px;
      margin-top: -10px;
      margin-left: 15px;
      font-size: 18px;
    }
  }
}
