@use "variables";

.values {
  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 120px;

    h1 {
      font-weight: 900;
      font-size: 3.5vw;
    }

    h2 {
      font-size: 2vw;
    }

    .content {
      max-width: 1600px;
    }

    @media (max-width: variables.$large-desktop) {
      h1 {
        font-size: (variables.$large-desktop * 0.035);
      }

      h2 {
        font-size: (variables.$large-desktop * 0.02);
      }

      .background-text {
        font-size: (variables.$large-desktop * 0.25)
      }
    }

    @media (max-width: variables.$mobile-width) {
      padding: 35px;

      h1 {
        text-align: center;
        margin-bottom: 0;
      }
    }
  }

  .core {
    min-height: 100vh;
    padding-top: 100px;
    text-align: center;

    .content > p {
      margin: 80px 0;
      font-size: 2em;
      font-weight: 600;
    }

    &.not-scrolled .content > p {
      opacity: 0;
      transform: translateY(150px);
    }
  }

  .working-with-leadout {
    background-color: variables.$accent;
    color: variables.$light;

    h2 {
      margin: 60px 0 10px;
    }

    p {
      font-size: 1.5em;
    }
  }

  .faq {
    button {
      width: 100%;
      background: none;
      border: none;
      text-align: left;
    }
    .hide {
      visibility: hidden;
    }
  }
}
