// Colors
$accent: #79a5b9;
$dark: #474747;
$light: #f5f5f4;
$error: #d73e3e;

$transition: all 0.2s ease;
$slow-transition: all 0.5s ease;
$lazy-transition: all 0.75s ease;

$font: Gotham, sans-serif;

// Screen sizes
$xl-desktop: 1680px;
$large-desktop: 1500px;
$mobile-width: 500px;
